################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Repositories/bin/Debug/net6.0
/Repositories/obj/Debug/net6.0
/Repositories/obj
/TestApi/obj/Release/net6.0
